<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Who we are</title>


  <script defer src="https://unpkg.com/i18next@21.6.16/dist/umd/i18next.min.js"></script>
  <script defer src="https://unpkg.com/i18next-http-backend@1.4.1/i18nextHttpBackend.min.js"></script>
  <script defer src="/i18n.js"></script>

  
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/who_we_are.css" />

  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<!-- Подключение Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">



  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
</head>
<body>

   <%- include('partials/header') %>

 <div class="hero-section">
    <img style="height: 300px; " src="images/construcion img.jpg" alt="Construction" class="hero-img" />
    <div class="hero-overlay">
      <h1>Who we are</h1>
    </div>
  </div>


  <section id="explanation" class="about-us">
    <div class="container">
      <h2 style="color: black;">Some explanation about us</h2>
      <div class="about-content">
        <div class="about-text">
          <p>
           Here you can tell more about the company, its history, mission and values.
For example: "Our team consists of qualified specialists working on the implementation of the most ambitious projects..."

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed voluptatibus esse earum tempora 
alias! Vel quam deserunt quae perferendis, repudiandae repellendus aspernatur fugiat qui exercitationem rerum? Delectus repellat aperiam enim?

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed voluptatibus esse earum tempora 
alias! Vel quam deserunt quae perferendis, repudiandae repellendus aspernatur fugiat qui exercitationem rerum? Delectus repellat aperiam enim?
          </p>
        </div>
        <div class="about-image">
          <img src="images/pexels-photo-1249611.jpeg" alt="Medical Staff">
        </div>
      </div>
    </div>
  </section>

  <section class="mission-vision">
    <div class="container">
      <div class="mv-content">
        <div class="mv-text">
    
          <div id="vision" class="vision">
            <h3>Our Vision</h3>
            <p>
             Our vision is to ensure that we build a place where there is nothing but a relationship of care,
              comfort and affection with our customers. We want to attract our patients towards our clinic for
              the relationship they feel with our clinic, for the care and respect they get from our doctors…
            </p>
          </div>
        </div>
         <div  class="mv-images collage">
        <div class="img img-top">
          <img style="border: 6px solid white;" src="images/pexels-photo-416405.jpeg" alt="Mission Image">
        </div>
        <div  class="img img-bottom">
          <img src="images/const-hero.jpg" alt="Vision Image">
        </div>
      </div>
      </div>
    </div>
  </section>




<section class="contact-us-block">
  <div class="container">
    <div class="contact-us-wrapper">
      <img src="images/contact img.jpg" alt="Наш офис" class="contact-us-image" />
      <div class="contact-us-text">
        <p>
          We are a  construction company in Georgia, specializing in 
          premium residential and commercial projects. Our mission is to create comfortable and eco-friendly spaces for living and working.
          <br>
          Are you interested in our services? We would be delighted to assist you.
        </p>
        <a  href="tel:+995123456789" class="btn contact-us-btn">Contact us</a>
      </div>
    </div>
  </div>
</section>









<div id="site-footer"></div>


<script src="main.js"></script>

</body>
</html>